/* Reset some default styling */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: radial-gradient(circle, rgba(36, 37, 38, 1) 0%, rgba(18, 18, 18, 1) 100%);
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 10px; /* Changed to create a square with rounded corners */
    object-fit: cover;
    border: 5px solid #0ff;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    position: relative;
    top: -50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
    filter: brightness(1.2);
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
    font-family: 'Orbitron', sans-serif;
    color: #0ff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

h1:hover {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 255, 255, 1);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #0ff;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

h2:hover {
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 255, 255, 1);
}

p {
    font-size: 1.1em;
    color: #e0e0e0;
    transition: color 0.3s ease;
}

p:hover {
    color: #0ff;
}

/* Navigation */
nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #0ff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

/* Main sections */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    animation: fadeIn 1s ease-in-out;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Futuristic touches */
h1, h2 {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

/* Contact Section */
section#contact {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #e0e0e0;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section {
    animation: fadeIn 1s ease-in-out;
}
